/* Utilities Styling */
body {
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Didact Gothic', sans-serif; */
    /* font-family: 'DM Sans', sans-serif; */
    /* ***font-family: 'Figtree', sans-serif; */
    /* **font-family: 'Fjalla One', sans-serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Karla', sans-serif;
    /* **font-family: 'Manrope', sans-serif; */
    /* font-family: 'Mulish', sans-serif; */
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* **font-family: 'Plus Jakarta Sans', sans-serif; */
    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'Public Sans', sans-serif; */
    /* **font-family: 'Questrial', sans-serif; */
    /* **font-family: 'Sarabun', sans-serif; */
    /* ***font-family: 'Sora', sans-serif; */
    /* ***font-family: 'Space Grotesk', sans-serif; */
    /* font-family: 'Titillium Web', sans-serif; */
    /* ***font-family: 'Work Sans', sans-serif; */
    /* font-family: 'Zilla Slab', serif; */
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Sora', sans-serif;
    /* font-family: 'Space Grotesk', sans-serif; */
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
    font-weight: 600;
}

/* Text Styling */
.text-primary {
    color: #0f70ba !important;
}

/* Background Styling */
.bg-warning {
    background-color: #0f70ba !important;
}
.bg-warning-light {
    /* background-color: #cae9ff; */
    background-color: #efefd0;
}

/* Button Styling */
.btn {
    border-radius: 1px;
}
.btn:hover,
.btn-outline-primary:hover,
.btn-primary:hover {
    background: #0c5b97;
    border-color: #0c5b97;
}
.btn-outline-primary,
.btn-primary {
    border-color: #0f70ba;
}
.btn-outline-primary {
    color: #0f70ba;
}
.btn-primary {
    background-color: #0f70ba;
}
.btn-light:hover {
    background-color: #eee;
    border-color: #eee;
}
.btn-lg {
    padding: 0.8rem 1.5rem;
}

/* Links Styling */
a {
    color: #222;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #222;
}

header a {
    border-bottom: none;
    font-weight: normal;
}

/* Navigation Styling */
.navbar {
    min-height: 65px;
}

/* Banner Styling */
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 35px black;
    height: 50vh;
}

#banner-1 {
    background-image: url(Media/banner-bg-1-fsm-marek-okon-unsplash.jpg);
}

#banner-2 {
    background-image: url(Media/banner-bg-2-arnaud-jaegers-unsplash.jpg);
}

#banner-3 {
    background-image: url(Media/banner-bg-3-kaleb-tapp-unsplash.jpg);
}

.banner a {
    color: #fff;
    font-weight: 600;
}
.banner a:hover {
    text-decoration: underline;
}

/* Main Content Styling */
.main-content-container {
    padding: 80px 0;
}

.main-content-container p {
    color: #898989;
}

@media (min-width: 767px) {
    h2 {
        font-size: 2.85rem;
        font-weight: 500;
    }
}